*{
    clear: left;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.bio-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10% 630px;
    padding: 0px 20px;
    border-radius: 25px;
    /* bio container color */
    background-color: #141416;
    /* bio text color */
    color: white;
}

.bio-links ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0px 30px;
}

.bio-links img{
    height: 40px;
    width: 40px;
    transition: transform .2s;
    padding-bottom: 10px;
}

.bio-links img:hover {
  transform: scale(1.5);
}

.bio-picture{
    padding-top: 25px;
}

.picture{
    height: 150px;
    width: 150px;
    border-radius: 90px;
    /* profile picture outline */
    border: solid #141416;
    border-width: 8px;
    border: solid;
    border-width: 2px;
}

.musicplayer{
    text-align: center;
    font-size: 13px;
    border: solid;
    padding: 15px 150px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.audioplayer{
    border-radius: 15px;
}